
<h1>dashboard</h1>
<main class="container">
  <section class="section-container">
<div class="card">
 <figure class="card-imag">
  <?xml version="1.0" encoding="utf-8"?>
  <svg width="800px" height="800px" viewBox="0 0 24 24" role="img" xmlns="http://www.w3.org/2000/svg"
    aria-labelledby="dolarIconTitle" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
    fill="none" color="#000000">
    <title id="dolarIconTitle">Dolar</title>
    <path
      d="M12 4L12 6M12 18L12 20M15.5 8C15.1666667 6.66666667 14 6 12 6 9 6 8.5 7.95652174 8.5 9 8.5 13.140327 15.5 10.9649412 15.5 15 15.5 16.0434783 15 18 12 18 10 18 8.83333333 17.3333333 8.5 16" />
  </svg>
 </figure>
 <div clas="'card-info">
  <h3>productos</h3>
  <p class="productos"></p>
  </div>
  </section>
  <section class="formulario" >
 <form>
<label for=" nombre"> nombre</label> 
<input type="text" name="nombre" >
<label for="  stock">  stock</label>
<input type="text" name="stock">
<label for="  lote">  lote</label>
<input type="text" name="lote">
<label for="  caducidad">  caducidad</label>
<input type="text" name="caducidad">
<label for="  descripcion">  descripcion</label>
<input type="text" name="descripcion">
<label for="  categoria ">  categoria </label>
<input type="text" name="categoria">
<label for="  precio">  precio</label>
<input type="text" name="precio">
<div class="buttoms">
<input type="submit" class="button" >
<input type="reset" class="button">
</div>

 </form>   
  </section>
</main>


</div>

</div>