<h1>bienvenidos a {{title}}</h1>
{{#if users}}
<h2>estimado usuario:{{users}}</h2>
{{else}}
<form>
<label for="" >nombre de usuario</label>
<imput type="text" ></imput>
<br>
<label for="">correo</label>
<imput type="text" ></imput>
<br>
<imput type="submit" value="iniciar secion">
</form>
{{/if}}