<h1>bienvenidos a {{title}}</h1>
{{#if users.length}}
<h2>estimado usuario:{{users}}</h2>
{{else}}
<form>
<label for="username" >nombre de usuario</label>
<input type="text">
<br>
<label for="email">correo</label>
<input type="text">
<br>
<label for="id"  >id</label>
<input type="number" >
<input type="submit" value="iniciar secion">
</form>
{{/if}}