<h1>bienvenido a {{title}}</h1>
{{#if users}}
<h2>estimado usuario:{{users}}</h2>
{{else}}
<form action="" >
<label form="">nombre de usuario</label>
<imput type="text">
  <br>
  <label for="" >contrasena</label> 
  <imput type="password">
   <imput type="submit" value="iniciar sesion">
</form> 
{{/if}} 